{{ define "main" }}
  <h2>Welcome to Bay Vista</h2>
  <img class="alignright size-medium" src="/img/stock/sunclouds-300x217.jpg"
       alt="sunclouds" width="300" height="217">
  <p style="text-align:center;">
    <a href="/covid-19" style="font-size:1.5rem;color:red;">
      COVID-19 Information
    </a>
  </p>
  <p>
    As the Gulf Coast grows, many people are finding a church home at Bay Vista, and we hope that you will worship with
    us soon. Whether you have attended church regularly before, or it is a brand new experience for you, we want you to
    feel at home.
  </p>
  <p>
    This website offers you a quick overview of some of the opportunities available to you and your family. Everything
    we do is focused on sharing the Good News of Jesus Christ. God has blessed our desire to serve Him by providing an
    array of opportunities to reach out to others. If you are looking for a place to serve, we welcome you and know
    that you can find a place of service no matter what your desire.
  </p>
{{ end }}
