{{ define "main" }}
  <p>
    Bay Vista is using <a href="https://lifewaygenerosity.com">Generosity by Lifeway</a> to enable our members to
    continue their faithfulness through financial stewardship. Use the form below to give securely.
  </p>
  <p>
    <em>(NOTE: this form may not be active yet; if it doesn't work, please check back later.)</em>
  </p>
  <script src="https://embed.idonate.com/idonate.js"></script>
  <div data-idonate-embed="bae7ac99-d8cc-4360-a568-c9746e4c5e94"></div>
{{ end }}
