<!DOCTYPE html>
<html>
  {{- partial "head.html" . -}}
  <body>
    {{- partial "header.html" . -}}
    <div class="wrapper">
      <div class="page-content">
        {{ if .IsHome }}
          <div class="jumbotron text-center">
            <img src="{{ .Site.BaseURL | relURL }}img/bvbc-jumbotron.png"
                 alt="A large Bay Vista Baptist Church logo, with the words on either side of a lighthouse">
          </div>
        {{ else }}
          <header>
            {{ block "page-header" . }}
              <h2>{{ .Title }}</h2>
              {{ with .Description }}{{ . }}{{ end }}
              {{ with .Params.passage }}{{ . }}{{ end }}
            {{ end }}
          </header>
        {{ end }}
        <div class="inner-wrapper">
          <div class="main">
            <article>
              {{- block "main" . }}{{- end }}
            </article>
          </div>
          {{- partial "sidebar.html" . -}}
        </div>
      </div>
    </div>
    {{- partial "footer.html" . -}}
  </body>
</html>
