{{ define "main" }}
  {{ with .Params.episode -}}
    <div class="article-metadata-single">
      <i class="fa fa-user fa-lg" title="Speaker"></i> {{ .speaker }} &nbsp; &nbsp;
      <i class="fa fa-calendar fa-lg" title="Service Date"></i> {{ .service_date }}
    </div>
  {{- end }}
  {{ .Content -}}
  <p>
    <br>
    {{ with .Params.episode -}}
    <audio controls style="width:100%;" onplaying="bayvista.countPlay('{{ .media }}')">
      <source src="http://files.djs-consulting.com/sermons/{{ .media }}">
    </audio>
    <br>
    <strong>Listen Online</strong>
    <span class="pull-right"><em><a href="http://pdcst.click/c/bay-vista/files.djs-consulting.com/sermons/{{ .media }}">Download File</a></em></span>
    {{- end }}
  </p>
  {{ with .Params.resources.playlist -}}
  <p>
    <em>Listen to
    <a href="https://www.youtube.com/playlist?list={{ . }}" target="_blank">songs which go along with the message</a>
    on YouTube</em>
  </p>
  {{- end }}
  {{ with .Params.resources.service_video -}}
  <hr>
  <p><strong>Watch the entire service:</strong></p>
  <div style="position: relative; padding-bottom: 56.25%; height: 0; overflow: hidden;">
    <iframe src="https://www.youtube.com/embed/{{ . }}"
            style="position: absolute; top: 0; left: 0; width: 100%; height: 100%; border:0;"
            allowfullscreen="true"
            title="Service Video"></iframe>
  </div>
  {{- end }}
  {{ with .Params.resources.sermon_video -}}
  <hr>
  <p><strong>Watch this sermon:</strong></p>
  <div style="position: relative; padding-bottom: 56.25%; height: 0; overflow: hidden;">
    <iframe src="https://www.youtube.com/embed/{{ . }}"
            style="position: absolute; top: 0; left: 0; width: 100%; height: 100%; border:0;"
            allowfullscreen="true"
            title="Service Video"></iframe>
  </div>
  {{- end }}
  <p>&nbsp;</p>
  <nav>
    <ul>
      <li>
        {{ with .PrevInSection -}}
          <strong>Previous Sermon</strong>
          <br>
          &laquo;
          <a href="{{ .Permalink | relURL }}" title="{{ .Title }} | {{ $.Site.Title }}">{{ .Title }}</a>
          <br>
          <small>&nbsp; &nbsp; {{ with .Params.episode }}{{ .passage}}{{ end }}</small>
        {{- end }}
      </li>
      {{ with .NextInSection -}}
        <li class="text-right">
          <strong>Next Sermon</strong><br>
          <a href="{{ .Permalink | relURL }}" title="{{ .Title }} | {{ $.Site.Title }}">{{ .Title }}</a>
          &raquo;<br>
          <small>{{ with .Params.episode }}{{ .passage }}{{ end }} &nbsp; &nbsp;</small>
        </li>
      {{- end -}}
    </ul>
  </nav>
{{- end }}